/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;
$slate: #707587 !default;
$slate-dark: #5a5c6b !default;
$slate-darkest: #464349 !default;
$slate-light: #8c8b94 !default;
$slate-lightest: #d5d6db !default;

$html-bg: $off-white;
$sidebar-shadow: $gray-300;

$sidebar-bg: $gray-100;
$sidebar-header: $slate-light;

$navbar-header: $white;
$navbar-bg: $slate-dark;
$navbar-link-color: $slate-dark;

$footer-bg: $gray-100;
$footer-text-color: $slate-dark;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$navbar-header-color: $black;
$navbar-bottom-border: $gray-300;
$sidebar-toggle: $gray-800;

$form-text-color: #222;
