/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;
$slate: #707587 !default;
$slate-dark: #5a5c6b !default;
$slate-darkest: #464349 !default;
$slate-light: #8c8b94 !default;
$slate-lightest: #d5d6db !default;

$html-bg: $off-white;
$sidebar-shadow: $gray-300;

$sidebar-bg: $gray-100;
$sidebar-header: $slate-light;

$navbar-header: $white;
$navbar-bg: $slate-dark;
$navbar-text-color: $slate-dark;

$footer-bg: $gray-100;
$footer-text-color: $slate-dark;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-item.active a {
        color: $primary;
    }

    .nav-item {
        a {
            color: $slate-darkest;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $footer-text-color;
    }

    a {
        color: $footer-text-color;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        background-color: $navbar-header;
    }
}

.navbar-text {
    color: $navbar-text-color;
}

.app-nav {
    border-bottom: 1px solid $gray-300;
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

input.form-control, textarea.form-control, select.form-control {
    color: #111 !important;
    &:focus {
        color: #111;
        outline: 0 !important;
    }
}

.bootstrap-select {
    button.dropdown-toggle, button.dropdown-toggle:active {
        color: #111 !important;
        border: 1px solid $gray-400 !important;
        background-color: $white !important;
    }
    .dropdown-menu {
        li {
            a.dropdown-item:hover {
                color: $white !important;
            }
        }
    }
}

.sidebar-toggle {
    color: $gray-800;
}

pre {
    font-size: 1rem;
    padding: 24px;
    background-color: $input-bg;
    border-radius: 8px;
}
