/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

$off-white:       #EEEEEE;
$slate:           #707587 !default;
$slate-dark:      #5a5c6b !default;
$slate-darkest:   #464349 !default;
$slate-light:     #8c8b94 !default;
$slate-lightest:  #d5d6db !default;

$html-bg: $gray-900;

$sidebar-bg: $slate-lightest;
$sidebar-header: $slate-light;

$navbar-header: $slate-dark;
$navbar-bg: $slate-dark;
$navbar-text-color: $white;

$footer-bg: $slate-darkest;

/*
|--------------------------------------------------------------------------
| Window
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-item.active {
        background-color: $white;
    }

    .nav-item {
        a {
            color: $slate-darkest;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $white;
    }

    a {
        color: $white;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        background-color: $navbar-header;
    }

    .btn-account {
        color: $white;
    }
}

.navbar-text {
    color: $navbar-text-color;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0.15);
    color: $white;

    &:hover {
        color: $off-white;
    }
}

/*
|--------------------------------------------------------------------------
| User Settings
|--------------------------------------------------------------------------
*/

.nav-user {
    margin-bottom: 16px;
    .nav-item a {
        color: $secondary;
    }

    .nav-link.active {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

.user-avatar {
    background-color: #EEE;
}

.client-dashboard-avatar {
    background-color: #EEE;
}

.profile-icon {
    background-color: #EEE;
}

.delete-avatar-btn {
    background-color: #EEE;
}

input.form-control, textarea.form-control, select.form-control {
    color: #111 !important;
    &:focus {
        color: #111;
        outline: 0 !important;
    }
}


.dashboardcode-bsmultiselect {
    ul {
        li {
            button.close {
                margin-left: 4px;
                color: #333;
            }
        }
        .badge {
            padding-left: 4px !important;
            padding-right: 4px !important;
            border: 1px solid #eee;
            margin-right: 4px;
        }
    }
}

.toggle {
    margin-left: -20px;
}
