/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.docker
.phpunit.result.cache
/.phpunit.cache
/.phpunit.cache/test-results
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
clover.xml
test-html
