/*
|--------------------------------------------------------------------------
| Window
|--------------------------------------------------------------------------
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: .875rem;
}

.sidebar {
    width: 320px;
    position: fixed;
    left: 0;
    z-index: 100;
    padding: 0;
    transition: all 0.3s;
}

.sidebar-sticky {
    width: 320px;
    height: calc(100vh - 0px);
    overflow-y: auto;
}

.sidebar .nav-item {
    font-weight: bold;
    width: 100%;
    line-height: 32px;
    font-size: 16px;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-header {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;

    span {
        padding-left: 28px;
    }
}

.sidebar-toggle {
    display: none;
    cursor: pointer;
    padding: 4px;
}

.main {
    width: calc(100% - 320px);
    padding-bottom: 48px;
}

.alert {
    margin-left: 326px;
    width: calc(100% - 360px);
    position: fixed;
    top: 75px;
    z-index: 7500;
}

#app {
    min-height: calc(100vh);
}

.content-sm {
    width: 348px;
    margin: 0px auto;
    padding-top: 48px;
}

.content-md {
    width: 548px;
    margin: 0px auto;
    padding-top: 48px;
}

.table {
    td {
        vertical-align: middle;
    }
}

.modal-body {
    .table {
        tbody {
            min-width: 100%;
        }
    }
}

.card-body {
    .table {
        width: calc(100% + 20px);
        margin: -10px !important;
        tr {
            td {
                padding: 0.55rem;
            }
        }
    }
}

.table-hover {
    tr:hover {
        cursor: pointer;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.app-nav {
    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-title {
    font-size: 22px;
    font-weight: bold;
}

.nav-avatar {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    line-height: 45px;
    margin-bottom: -8px;
    margin-right: 10px;
}

.navbar-nav {
    .notification-badge {
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 80px;
    }

    .nav-user-dropdown {
        &:focus {
            box-shadow: none;
        }
    }
    .dropdown-menu {
        position: absolute;
        top: 42px;
        left: -164px;
        width: 220px;
    }
    .dropdown-toggle::after {
        content: none;
    }
}

input[type="file"].form-control {
    line-height: 1.2;
}

.toggle {
    margin-left: -20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.avatar-sm {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

/*
|--------------------------------------------------------------------------
| Large Screen
|--------------------------------------------------------------------------
*/

@media (max-width: 992px) {
    .sidebar-toggle {
        display: inline-block;
    }
    .main {
        width: 100%;
    }
    .alert {
        margin-left: 2%;
        width: 96%;
    }
    .sidebar {
        margin-top: 60px;
        margin-left: -320px;
        box-shadow: 0 5px 5px $sidebar-shadow;
    }
    .sidebar-sticky {
        height: calc(100vh - 60px);
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}

/*
|--------------------------------------------------------------------------
| Medium Screen
|--------------------------------------------------------------------------
*/

@media (min-width: 576px) and (max-width: 748px) {
    // nothing needed here
}

/*
|--------------------------------------------------------------------------
| Mobile Tweaks
|--------------------------------------------------------------------------
*/

@media (max-width: 576px) {
    #app.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav-pills {
        .nav-item {
            width: 100%;
        }
    }
}

