|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $footer-text-color;
    }

    a {
        color: $footer-text-color;
    }
}