/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;
$off-black: #121212;

$slate: #707587 !default;
$slate-dark: #5a5c6b !default;
$slate-darkest: #464349 !default;
$slate-light: #8c8b94 !default;
$slate-lightest: #d5d6db !default;

$html-bg: $gray-900;

$sidebar-shadow: $gray-800;

$sidebar-bg: $gray-800;
$sidebar-color: $gray-200;
$sidebar-header: $slate-light;

$navbar-header: #222;
$navbar-bg: $slate-dark;
$navbar-link-color: $white;

$footer-bg: $gray-800;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-300 !important;
}

hr {
    background-color: #444;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-link.active {
        color: $primary;
    }

    .nav-item {
        a {
            color: $sidebar-color;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

.sidebar-toggle {
    color: $white;
}

.sidebar-toggle:hover {
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $white;
    }

    a {
        color: $white;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $navbar-link-color;
            }
        }
    }

    .btn-account {
        color: $white;
    }
}

.navbar-brand {
    color: $white;

    &:hover {
        color: $off-white;
    }
}

.nav-tabs {
    border-bottom: 1px solid $gray-700;

    .nav-item {
        margin-bottom: -1px;
        a {
            color: $secondary;
        }
    }

    .nav-link:hover {
        border-top: 1px solid $gray-700;
        border-left: 1px solid $gray-700;
        border-right: 1px solid $gray-700;
    }

    .nav-link.active {
        color: $primary;
        border-top: 1px solid $gray-700;
        border-left: 1px solid $gray-700;
        border-right: 1px solid $gray-700;
        &:hover {
            color: $primary;
        }
    }
}

.app-with-sidebar-nav {
    border-bottom: 1px solid $gray-700;
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

input.form-control:disabled, textarea.form-control:disabled, select.form-control:disabled {
    background-color: #222;
    color: #AAA !important;
}

input.form-control, textarea.form-control, select.form-control {
    background-color: $input-bg !important;
    border: $input-border;
    color: #EEE !important;
    &:focus {
        background-color: #000;
        color: #fff;
        outline: 0 !important;
    }
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-800 !important;
}

hr {
    background-color: $input-border-color;
}

pre {
    font-size: 1rem;
    padding: 24px;
    background-color: $input-bg;
    border-radius: 8px;
}

.hover-highlight:hover {
    background-color: $gray-900;
}

.col-form-label {
    font-size: 1rem;
}

.custom-file-label {
    border: 2px solid $input-border-color;
}
