/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;
$off-black: #121212;

$slate: #707587 !default;
$slate-dark: #5a5c6b !default;
$slate-darkest: #464349 !default;
$slate-light: #8c8b94 !default;
$slate-lightest: #d5d6db !default;

$html-bg: $gray-900;

$sidebar-shadow: $gray-800;

$sidebar-bg: $gray-800;
$sidebar-color: $gray-200;
$sidebar-header: $slate-light;

$navbar-header: #222;
$navbar-bg: $slate-dark;
$navbar-link-color: $white;

$footer-bg: $gray-800;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-300 !important;
}

hr {
    background-color: #444;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-item.active a {
        color: $primary;
    }

    .nav-item {
        a {
            color: $sidebar-color;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

.sidebar-toggle {
    color: $white;
}

.sidebar-toggle:hover {
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $white;
    }

    a {
        color: $white;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        background-color: $navbar-header;
        .nav-item {
            .nav-link {
                color: $navbar-link-color;
            }
        }
    }

    .btn-account {
        color: $white;
    }
}

.navbar-brand {
    color: $white;

    &:hover {
        color: $off-white;
    }
}

.nav-tabs {
    border-bottom: 1px solid $gray-700;

    .nav-item {
        margin-bottom: -1px;
        a {
            color: $secondary;
        }
    }

    .nav-link:hover {
        border-top: 1px solid $gray-700;
        border-left: 1px solid $gray-700;
        border-right: 1px solid $gray-700;
    }

    .nav-link.active {
        color: $primary;
        border-top: 1px solid $gray-700;
        border-left: 1px solid $gray-700;
        border-right: 1px solid $gray-700;
        &:hover {
            color: $primary;
        }
    }
}

.app-nav {
    border-bottom: 1px solid $gray-700;
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

.bootstrap-select {
    button.dropdown-toggle, button.dropdown-toggle:active {
        color: $input-color !important;
        border: 2px solid $input-border-color !important;
        background-color: $input-bg !important;
    }
    .dropdown-menu {
        li {
            a.dropdown-item:hover {
                color: $white !important;
            }
            .no-results {
                background-color: transparent;
            }
        }
    }
    .no-results {
        background: transparent !important;
    }
}

.btn-select {
    background-color: $black !important;
}

.vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__clear, .vs--disabled .vs__search, .vs--disabled .vs__selected, .vs--disabled .vs__open-indicator {
    background-color: $input-bg !important;
    color: #EEE !important;
}

input.form-control:disabled, textarea.form-control:disabled, select.form-control:disabled {
    background-color: #222;
    color: #AAA !important;
}

input.form-control, textarea.form-control, select.form-control {
    background-color: $input-bg !important;
    border: $input-border;
    color: #EEE !important;
    &:focus {
        background-color: #000;
        color: #fff;
        outline: 0 !important;
    }
}

.vue__time-picker {
    input.display-time {
        background-color: $input-bg;
        border: none !important;
        color: #fff;
    }
}

.vue__time-picker {
    .dropdown {
        border: #222 1px solid;
        background-color: $input-bg !important;
        ul {
            li {
                color: #EEE !important;
            }
        }
    }
}

.datepicker {
    input {
        border: 2px solid $input-border-color;
        background-color: $input-bg;
        color: #EEE;
        font-size: 0.85em !important;
        font-weight: normal !important;
    }
}

.vc-popover-content {
    background-color: $input-bg !important;
}

.vc-container {
    background-color: $input-bg !important;
}

.vs__dropdown-toggle {
    background-color: $input-bg;
    input {
        color: #FFF;
    }
    .vs__selected {
        color: #EEE;
    }
}

.vs__dropdown-option {
    color: #EEE;
}

.vs__dropdown-menu {
    background-color: $input-bg !important;
    color: #EEE;
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-800 !important;
}

hr {
    background-color: $input-border-color;
}

pre {
    font-size: 1rem;
    padding: 24px;
    background-color: $input-bg;
    border-radius: 8px;
}

.ql-container.ql-snow {
    border: 2px solid $input-border-color !important;
}

.ql-toolbar.ql-snow {
    border: 2px solid $input-border-color !important;
    background-color: $input-bg !important;
    border-bottom: none !important;
}

.ql-snow .ql-editor {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.ql-bubble .ql-editor {
    border: 2px solid transparent;
}

.ql-editor {
    background-color: $input-bg !important;
    border: 2px solid transparent;
}

.hover-highlight:hover {
    background-color: $gray-900;
}

.col-form-label {
    font-size: 1rem;
}

.custom-file-label {
    border: 2px solid $input-border-color;
}
