/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;
$off-black: #121212;

$slate: #707587 !default;
$slate-dark: #5a5c6b !default;
$slate-darkest: #464349 !default;
$slate-light: #8c8b94 !default;
$slate-lightest: #d5d6db !default;

$html-bg: $gray-900;

$sidebar-bg: $gray-800;
$sidebar-color: $gray-200;
$sidebar-header: $slate-light;

$navbar-header: $off-black;
$navbar-bg: $slate-dark;
$navbar-text-color: $white;

$footer-bg: $gray-800;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-300 !important;
}

hr {
    background-color: #444;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-item.active {
        background-color: $gray-900;
    }

    .nav-item {
        a {
            color: $sidebar-color;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $white;
    }

    a {
        color: $white;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        background-color: $navbar-header;
    }

    .btn-account {
        color: $white;
    }
}

.navbar-text {
    color: $navbar-text-color;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0.15);
    color: $white;

    &:hover {
        color: $off-white;
    }
}

.nav-tabs {
    .nav-item a {
        color: $secondary;
    }

    .nav-link.active {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
*/

input.form-control, textarea.form-control, select.form-control {
    background-color: $input-bg !important;
    color: $input-color !important;
    &:focus {
        background-color: $input-bg-dark;
        color: $input-color;
        outline: 0 !important;
    }
}

.bootstrap-select {
    button.dropdown-toggle, button.dropdown-toggle:active {
        color: $input-color !important;
        border: 1px solid $input-bg !important;
        background-color: $input-bg !important;
    }
    .dropdown-menu {
        li {
            a.dropdown-item:hover {
                color: $white !important;
            }
        }
    }
}
