/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

$off-white: #EEEEEE;

$slate:          #707587 !default;
$slate-dark:     #5a5c6b !default;
$slate-darkest:  #464349 !default;
$slate-light:    #8c8b94 !default;
$slate-lightest:  #d5d6db !default;

$html-bg: $gray-900;

$sidebar-bg: $gray-800;
$sidebar-color: $gray-200;
$sidebar-header: $slate-light;

$navbar-header: $slate-dark;

$footer-bg: $slate-darkest;

/*
|--------------------------------------------------------------------------
| Window
|--------------------------------------------------------------------------
*/

html {
    background-color: $html-bg;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    background-color: $sidebar-bg;

    .nav-item.active {
        background-color: $gray-900;
    }

    .nav-item {
        a {
            color: $sidebar-color;
        }
    }
}

.sidebar-header {
    background-color: $sidebar-header;
    color: $white;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    background-color: $footer-bg;

    span {
        color: $white;
    }

    a {
        color: $white;
    }
}

/*
|--------------------------------------------------------------------------
| Navbar
|--------------------------------------------------------------------------
*/

.navbar-header {
    background-color: $navbar-header;
    color: $white;

    .navbar-nav {
        background-color: $navbar-header;
    }

    .btn-account {
        color: $white;
    }
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0.15);
    color: $white;

    &:hover {
        color: $off-white;
    }
}

/*
|--------------------------------------------------------------------------
| User Settings
|--------------------------------------------------------------------------
*/

.nav-user {
    margin-bottom: 16px;
    .nav-item a {
        color: $secondary;
    }

    .nav-link.active {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

.vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__clear, .vs--disabled .vs__search, .vs--disabled .vs__selected, .vs--disabled .vs__open-indicator {
    background-color: #111 !important;
    color: #EEE !important;
}

input.form-control, textarea.form-control, select.form-control {
    background-color: #111 !important;
    color: #EEE !important;
    &:focus {
        background-color: #000;
        color: #fff;
        outline: 0 !important;
    }
}

.vue__time-picker {
    input.display-time {
        background-color: #111;
        border: none !important;
        color: #fff;
    }
}

.vue__time-picker {
    .dropdown {
        border: #222 1px solid;
        background-color: #111 !important;
        ul {
            li {
                color: #eee !important;
            }
        }
    }
}

.datepicker {
    input {
        border: 1px solid #222;
        background-color: #111;
        color: #eee;
    }
}

.vc-popover-content {
    background-color: #111 !important;
}

.vc-container {
    background-color: #111 !important;
}

.vs__dropdown-toggle {
    background-color: #111;
    input {
        color: #FFF;
    }
    .vs__selected {
        color: #EEE;
    }
}

.vs__dropdown-option {
    color: #EEE;
}

.vs__dropdown-menu {
    background-color: #111 !important;
    color: #EEE;
}

.user-avatar {
    background-color: #111;
}

.client-dashboard-avatar {
    background-color: #111;
}

.profile-icon {
    background-color: #111;
}

.border-top, .border-left, .border-bottom, .border-right {
    border-color: $gray-300 !important;
}

.dashboardcode-bsmultiselect {
    ul {
        background-color: #111;
        li {
            color: #fff;

            button.close {
                margin-left: 4px;
                color: #eee;
            }
        }
        .badge {
            padding-left: 4px !important;
            padding-right: 4px !important;
            border: 1px solid #444;
            margin-right: 4px;
        }
    }
}

hr {
    background-color: #444;
}

.toggle {
    margin-left: -20px;
}
